<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <div class="btn-wrapper" >
          <div>
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
         </div>
         <div>
          <button class="btn" id="change-id" >닉네임 수정</button>
          <button class="btn" id="change-password" >비밀번호 수정</button>
          <a href="/" class="btn go-home" >홈</a>
        </div>
        </div>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <div class="btn-wrapper" >
              <div>
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
          </div>
          <div>
            <a id="join" href="/join" class="btn">회원가입</a>
            <a href="/" class="btn go-home" >홈</a>
          </div>
            </div>
          </form>
        {% endif %}
        </div>
        <footer>
          Made by&nbsp;
          <a href="https://www.zerocho.com" target="_blank">ZeroCho</a>
        </footer>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };

      const changePassword = document.querySelector("#change-password")
      changePassword.addEventListener("click",() => {
        if(password = prompt("바꿀 비밀번호를 입력해주세요")){
          axios.patch(`/auth/changepw`,{
            password
          }).then(() => {
            alert("비밀번호 변경이 완료되었습니다")
  
          }).catch(() => {
          })
        }

      })

      const changeNick = document.querySelector("#change-id")
      changeNick.addEventListener("click", () => {
        if(nickname = prompt("바꿀 닉네임을 입력해주세요")){
          axios.patch(`/auth/changenick`,{
            nickname
          }).then(() => {
            alert("닉네임  변경이 완료되었습니다")
            location.reload()
          }).catch(() => {
          })
        }
      })
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>