{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
        <div class="following-item" >
          <input type="hidden" value="{{following.id}}" class="twit-user-id" />
          <div>{{following.nick}}</div>
          <button class="twit-unfollow" >팔로우 취소하기</button>
        </div>

        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
document.querySelectorAll(".twit-unfollow").forEach(function(tag){
  tag.addEventListener("click",function(){
    const parent = tag.parentElement
    console.log(parent)
    const userId = parent.querySelector(".twit-user-id").value
    console.log(userId);
    const myId = document.querySelector('#my-id');
    if (userId !== myId.value) {
        if (confirm('팔로잉취소하시겠습니까?')) {
          axios.delete(`/user/${userId}/follow/${myId.value}`)
            .then((result) => {
              console.log(result);
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
        }
      }
  })
})
</script>
{% endblock %}
